/** Program Name : Angular Fridge
 ** Author : Peter Cross
 ** Date : July 26, 2018
 */

.formApps {
	display: none;
	margin: 2px auto;
	margin-left: 0px;
	margin-top: -5px;
	border: 1px solid #CCC;
	padding: 10px;
}

.tabsDiv {
	margin: 10px auto;
	padding-left: 4px;
	display: none;
}

.formContentDiv {
	padding: 10px;
	margin: 3px 2px;
	text-align: center;
	min-width: 777px;
}

.visibleContent {
	margin: 0 auto;  
	width: auto; 
	display: inline-block; 
	text-align: left;
	min-width: 700px;
}

a {
	padding: 5px 15px;
	background: #E5E5E5;
	margin: 0;
	margin-top: -10px;
	margin-left: -4px;
	border: 1px solid #AAA;
}

a:link {
	text-decoration: none;
}

.lightBox {
	display: none; 
	position: absolute; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%); 
	z-index: 100; 
	border: 2px solid #CCC; 
	padding: 10px; 
	margin: 10px; 
	background: #FFF;
	box-shadow: 0px 0px 5px 5px #F5F5F5;
	width: auto;
	min-width: 700px;
	margin-left: 0px;
	margin-top: 0px;
}

.formTitle {
	text-align: center; 
	margin-top: 20px;
}

.formBtn{
	cursor: pointer; 
	padding: 5px 20px;
	display: inline-block;
}